@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,600&display=swap");

@font-face {
    font-family: 'futura';
    src: url(Futura\ Book\ font.ttf);
    font-display: swap;
    unicode-range: U+000-5FF;
    font-style: swap;
}

body {
    background-color: #fffdf7;
    margin: 0;
    padding: 0;
}

p {
    font-size: 22px;
    font-family: 'futura';
    margin-top: 0px;
    transform: translateY(-2.5px);
    font-weight: 300;
    display: inline-block;
    line-height: 0px;
}

h1 {
    font-size: 42px;
    color: #000000;
    font-family: 'futura';
    line-height: 1.3846153846;
    display: inline-block;
    transform: translateY(-5px);
}

h2 {
    font-size: 24px;
    color: #000000;
    font-family: 'futura';
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000000;
    font-weight: 300;
    display: inline;
}

h3 {
    font-size: 28px;
    color: #000000;
    font-family: 'futura';
    line-height: 1.0909090909;
}

h4 {
    font-size: 24px;
    color: #000000;
    font-family: 'futura';
    line-height: 1.2;
}

h5 {
    font-size: 22px;
    color: #000000;
    font-family: 'futura';
    line-height: 1.3333333333;
}

h6 {
    font-size: 20px;
    color: #000000;
    font-family: 'futura';
    line-height: 1.5;
}

.logoutLblPos{
    position:fixed;
    right:20px;
    top:10px;
 }

.pointer {
    cursor: pointer;
}

ul.listing {
    margin-top: 2px;
}

ul {
    font-size: 18px;
    font-family: 'futura';
    margin-top: -13px;
    padding: 0;
}

a.indexed {
    /* at last, it's been fixed */
    max-width: 250px;
    font-size: 19px;
}

.box {
    border: 2px #000000;
    background-color: #2c3233;
    width: 400px;
    height: 200px;
    padding: 20px;
}

.flex-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
    justify-items: center;
    justify-content: center;
    padding-top: 1.5em;
    list-style: none;
}


/*

flex item color palette
#ffee93
#ffc09f
#fcf5c7
#a0ced9
#adf7b6

*/

.flex-item {
    background: #ffee93;
    padding: 1px;
    /* margin-left: 20px; */
    width: 270px;
    height: 220px;
    /* margin-top: 20px; */
    line-height: 50px;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    font-family: 'futura';
    border-radius: 5%;
}

.flex-item:hover {
    border: 1px solid rgb(255, 167, 255);
    transform: scale(1.05);
    transition: transform 0.3s;
}

.left {
    margin-left: 10px;
}

a:link,
a:visited {
    color: #5775c8;
}

.bold {
    font-weight: bold;
    text-decoration: none;
    font-size: 21px;
    font-family: 'futura';
}

.contact-details {
    margin-top: -20px;
}

.slideThree {
    width: 80px;
    height: 26px;
    background: #341e83;
    margin: 20px auto;
    position: absolute;
    margin-left: 10px;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.slideThree:after {
    content: 'OFF';
    color: #fcd3bc;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px 'futura';
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, .15);
}

.slideThree:before {
    content: 'ON';
    color: #dfffc5;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px 'futura';
    font-weight: bold;
}

.slideThree:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.slideThree label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    background: rgb(255, 173, 173);
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    /* background: #fffdf7; */
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.slideThree input[type=checkbox] {
    visibility: hidden;
}

.slideThree input[type=checkbox]:checked+label {
    left: 43px;
    background: rgb(163, 255, 163);
}

.Account {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
    border-radius: 30px;
}

.AccountInside {
    border-radius: 30px;
    background-color: white;
    opacity: 0.95;
    width: 27%;
    height: 70%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Stats {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
    border-radius: 30px;
}

.StatsInside {
    border-radius: 30px;
    background-color: white;
    opacity: 0.95;
    width: 30%;
    height: 60%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.EditSensor {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
    border-radius: 30px;
}

.AddSensor {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
    border-radius: 30px;
}

.AddSensorInside {
    border-radius: 30px;
    background-color: white;
    opacity: 0.95;
    width: 30%;
    height: 60%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

table {
    border-spacing: 10px;
}

table tr td p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-top: 5px;
}

table tr td input {
    padding: 2px 5px;
    border: 2px solid gray;
    border-radius: 5px;
    color: rgb(88, 88, 88);
}

button {
    font-family: 'futura';
}

@font-face {
    font-family: 'futura';
    src: url(Futura\ Book\ font.ttf);
    font-display: swap;
    unicode-range: U+000-5FF;
    font-style: swap;
}

body {
    background-color: #fffdf7;
    margin-top: -6px;
    margin-left: -3px;
    margin-right: -3px;
    margin-bottom: -3px;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
}

* {
    box-sizing: border-box
}

h1 {
    font-family: 'futura';
    color: #152833;
    font-size: 32px;
}

p {
    font-family: 'futura';
    font-size: 20px;
    color: #152833;
}


/* Full-width input fields */

input {
    font-family: 'futura';
    width: 100%;
    padding: 15px;
    display: inline-block;
    border: none;
    background: #fdfdfc;
    font-size: 20px;
    margin-right: 5px;
}

input:focus {
    background-color: #f3f3f3;
    outline: none;
}

hr {
    border: 1px solid #0a0a0a;
    margin-bottom: 25px;
}

button:hover {
    opacity: 1;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #d9dcd6;
}

.cancelbtn,
.signupbtn {
    float: left;
    width: 50%;
}

/* Button Style */
.pushable {
    background: hsl(340deg 100% 32%);
    border: none;
    border-radius: 12px;
    padding: 0;
    cursor: pointer;
}

.front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-4px);
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}


/* Chat Bot Styling */
body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}


.open-button {
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}


.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border-radius: 20px;
    border: 5px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
}


.form-container textarea {
    width: 100%;
    height: 100vh;
    padding: 15px;
    border: none;
    background: #f1f1f1;
}

.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}


.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


.form-container .cancel {
    background-color: red;
}


.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}
