<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Dashboard</title>
    <!-- <link rel="icon" type="image/png" href="favicons/favicon-32x32.png" /> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css">
    <link rel="stylesheet" href="static/css/chat.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style2.css">
</head>

<body>

    <!-- Add Sensor -->
    <div class="AddSensor" style="display: none;">
        <div class="AddSensorInside">

            <form method="POST">
                <table>
                    <tbody>
                        <tr>
                            <td style="padding-top: 10px;">
                                <p>Sensor Name:</p>
                            </td>
                            <td style="padding-left: 5px;">
                                <input type="text" name="sensorName" id="sensorName" value="">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 10px;">
                                <p>Location: </p>
                            </td>
                            <td style="padding-left: 5px;">
                                <input type="text" name="sensorLocation" id="sensorLocation" value="">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 10px;">
                                <p>Pin number: </p>
                            </td>
                            <td style="padding-left: 5px;">
                                <p id="pinnum"></p>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </form>

            <div style="display: flex;justify-content: center; width: 100%;min-height: 20%;align-items: center;">
                <button onclick="newSensorPopupSave()"
                    style="margin: 10%; padding: 5px 13px;background-color: rgb(163, 255, 163);border-radius: 5px;box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;cursor: pointer;">Save</button>
                &nbsp; &nbsp; &nbsp;
                <button onclick="newSensorPopup()"
                    style="margin: 10%; padding: 5px 13px;background-color: rgb(255, 132, 110);border-radius: 5px;box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;cursor: pointer;">Close</button>
            </div>
        </div>
    </div>

    <!-- End Add Sensor -->


    <!-- Edit Sensor -->

    <div class="EditSensor" style="display: none;">
        <div class="AddSensorInside">

            <form method="POST">
                <table>
                    <tbody>
                        <tr>
                            <td style="padding-top: 10px;">
                                <p>Sensor Id:</p>
                            </td>
                            <td style="padding-top: 5px;">
                                <select id="editSensorSelect">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 10px;">
                                <p>Sensor Name:</p>
                            </td>
                            <td style="padding-left: 5px;">
                                <input type="text" name="sensorName" id="editSensorName" value="">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 10px;">
                                <p>Location: </p>
                            </td>
                            <td style="padding-left: 5px;">
                                <input type="text" name="sensorLocation" id="editSensorLocation" value="">
                            </td>
                        </tr>
                    </tbody>
                </table>

            </form>

            <div style="display: flex;justify-content: center; width: 100%;min-height: 20%;align-items: center;">
                <button onclick="editSensorPopupSave()"
                    style="margin: 10%; padding: 5px 13px;background-color: rgb(163, 255, 163);border-radius: 5px;box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;cursor: pointer;">Save</button>
                &nbsp; &nbsp; &nbsp;
                <button onclick="popup('.EditSensor')"
                    style="margin: 10%; padding: 5px 13px;background-color: rgb(255, 132, 110);border-radius: 5px;box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;cursor: pointer;">Close</button>
            </div>
        </div>
    </div>

    <!-- End Edit Sensor -->


    <!-- Account -->

    <div class="Account" style="display:none">
        <div class="AccountInside">

            <table>
                <tr>
                    <td style="padding-top: 10px;">
                        <p>Profile url:</p>
                    </td>
                    <td style="padding-left: 5px;">
                        <input type="text" id="profileUrl" value="">
                    </td>
                </tr>
            </table>

            <img id="ProfilePic"
                style="height: 150px;width: 150px;border-radius: 500px;margin-bottom: 20px;border: 3px solid white;box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;margin-bottom: 100px;"
                src="https://1.bp.blogspot.com/-0ZUMPsBahSo/X0vuBttwtWI/AAAAAAAAdwM/_0Nuxi-PWUsgTsLdAmGZqILPiJf7N2bdACLcBGAsYHQ/s640/best%2Bdp%2Bfor%2Bwhatsapp%2B%25281%2529.jpg"
                alt="">

            <p style="padding-left: 10%;padding-right: 10%;line-height: unset;text-align: center;">Add a new profile url!!
            </p>

            <div style="display: flex;justify-content: center; width: 100%;min-height: 20%;align-items: center;">
                <button onclick="profileSave()"
                    style="margin: 10%; padding: 5px 13px;background-color: rgb(163, 255, 163);border-radius: 5px;box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;cursor: pointer;">Save</button>

                <button onclick="popup('.Account')"
                    style="padding: 5px 13px;background-color: rgb(255, 132, 110);border-radius: 5px;box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;"
                    class="pointer">Close</button>
            </div>

        </div>
    </div>

    <!-- End Account -->

    <div class="Stats" style="display: none;">
        <div class="StatsInside">

            <iframe src="" id="iframe1" width="100%" height="40%"></iframe>


            <button onclick="stats()"
                style="padding: 5px 13px;background-color: rgb(255, 132, 110);border-radius: 5px;box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;cursor: pointer;">Close</button>
        </div>

    </div>
    
    <div class="app">
        <input class="mobile-input" type="checkbox" id="mobileButton" />
        <div class="mobile-btn">
            <label class="flex" for="mobileButton">
                <ion-icon name="grid-outline"></ion-icon>
            </label>
        </div>
        <div class="main flex-d flex-c">
            <div class="main-top flex-d">
                <h2>&nbsp; &nbsp; IOT Dashboard</h2>

                <div class="main-top-left flex">

                    <div class="icon flex">
                        <ion-icon name="add-circle-outline" onclick="newSensorPopup()"></ion-icon>
                    </div>

                    <div class="icon flex">
                        <ion-icon name="create-outline" onclick="popup('.EditSensor')"></ion-icon>
                    </div>

                    <div class="user flex">
                        <ion-icon name="person-outline" onclick="popup('.Account')" class="icon-btn"></ion-icon>
                        <h4>Alex</h4>
                    </div>
                    <div class="icon flex">
                        <a href="/logout">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </a>
                    </div>
                </div>
            </div>
            <div class="main-bottom flex-d">
                <ul class="flex-container" style="width:100%">

                    <!-- <li class="flex-item">
                        <h2 id="deviceName1" class="left">Light</h2>
                        <br>
                        <img src="https://raw.githubusercontent.com/KrishnaBMU/IOT-Dashboard/fc2a4b3d087394b534a8ddc8ce897679f96a9321/icons/map-pin.svg"
                            alt="map-pin" class="left svg-white" />
                        <p id="deviceLocation1">Master Bedroom</p>
                        <br>
                        <img src="https://raw.githubusercontent.com/KrishnaBMU/IOT-Dashboard/fc2a4b3d087394b534a8ddc8ce897679f96a9321/icons/pie-chart.svg"
                            alt="pie-chart" class="left svg-white" />
                        <p class="pointer" onclick="stats(1)">See Stats</p>
                        <div class="slideThree">
                            <input type="checkbox" value="None" id="slideThree1" onchange="checkbox(1)" name="check" />
                            <label for="slideThree1"></label>
                        </div>
                    </li> -->
        
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <!-- End App -->

    <div class="cont">
        <div class="chat">
            <div class="chatdiv">
                <div class="chathead">
                    <div class="chatimage">
                        <img src="../static/image.png" alt="image">
                    </div>
                    <div>
                        <h4 class="heading">Dashboard Chat Assistant</h4>
                    </div>
                </div>
                <div class="chatmsg">
                    <textarea id="ChatbotTextOutput"
                        style="cursor: text;user-select: none;padding: 10px; width: 100%; height: 100%;"
                        placeholder="Type 'help' to know the commands" readonly></textarea>
                </div>
                <div class="chatfoot">
                    <input id="ChatbotText" rows="1" placeholder="Type message..." onkeypress="keyPress()"
                        name="msg"></input>
                    <button class="pushable" id="chatSend" style="background-color: none;" onclick="sendForm()">
                        <span class="material-icons" style="color: white;">send</span>
                    </button>

                </div>
            </div>
            <div class="chatbtn">
                <button>button</button>
            </div>
        </div>
    </div>

</body>

<script src="static/javascript/dashboard.js"></script>
<script src="static/javascript/Chat.js"></script>
<script src="static/app.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>

</html>