<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Dashboard</title>
    <link rel="icon" type="image/png" href="favicons/favicon-32x32.png" />
    <link rel="stylesheet" href="static/css/loginsignup.css">
</head>

<body>
  <div class="container">
      <div class="card">
          <div class="items">
            <h1 class="tag">Log In</h1>
            <form class="form" action="/login" method="post">
              <div class="email">
                <input id="user" type="email" name="email" placeholder="Email" required>
              </div>
              <div class="password">
                <input id="pass" type="password" name="password" placeholder="Enter Password" minlength="8" required>
              </div>
              <input class="button" type="submit" value="Log In"/>
              <div class="nav">
                <a href="/signup">Don't have an account? <span>Sign Up</span></a>
              </div>
            </form>
          </div>
        </div>
    </div>
</body>

</html>