<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Dashboard</title>
    <link rel="icon" type="image/png" href="favicons/favicon-32x32.png" />
    <link rel="stylesheet" href="static/css/loginsignup.css">
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="items">
              <h1 class="tag">Sign Up</h1>
              <form class="form">
                <div class="username">
                  <input type="text" placeholder="Username" required>
                </div>
                <div class="email">
                  <input type="email" placeholder="E-Mail" required>
                </div>
                <div class="password">
                  <input type="password" placeholder="Enter Password" required>
                </div>
                <div class="password">
                  <input type="password" placeholder="Re-type Password" required>
                </div>
                <button class="button" type="button">Sign Up</button>
                <div class="nav">
                    <a href="/login">Have already an account? <span>Log In</span></a>
                </div>
              </form>
            </div>
          </div>
      </div>
</body>

</html>