<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Dashboard</title>
    <link rel="icon" type="image/png" href="favicons/favicon-32x32.png" />
</head>
<style>
    * {
        font-family: "Monospace";
        justify-content: center;
        margin: 5%;
    }
</style>

<body>
    <p>
        By accessing and placing an order with_contained in the Terms & Conditions outlined below. These terms apply to the entire website and any email or other type of
communication between you and you contirm that you are in agreement with and bound by the terms of service
Under no circumstances shall team be liable for any direct, indirect, special, incidental or consequential damages,
including, but not limited to, loss of data or profit, arising out of the use, or the inability to use, the materials on this site, even if
team or an authorized representative has been advised of the possibility of such damages. If your use of materials
from this Site results in the need for servicing, repair or correction of equipment or data, you assume any costs thereof.
Will not be responsible for any Outcome that may occur during the course of usage of our resources. we reserve the
rights to change prices and revise the resources usage policy in any moment.
    </p>
</body>

</html>
